*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --base-color: 194;
    --card-color1: hsla(var(--base-color), 97%, 31%, 1);
    --card-color2: hsla(var(--base-color),  0%, 86%, 1);
    --card-color3: hsla(var(--base-color),  6%, 17%, 1);
    --text-color1: hsla(var(--base-color),  0%, 10%, 1);
    --text-color2: hsla(var(--base-color),  0%,100%, 1);

    font-size: 62.5%;
}
header button{
    position: absolute;
    right: 8.4rem;
    top: 8.4rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.themeDark {
    background-color: #121214 !important;
    color: white !important;
}
body {
    background: white; 
    color: var(--text-color1);
    font-family: 'Roboto', sans-serif;
    font-size: 12.6rem;
}
.clock{
    display: flex;
}
.controls{
    margin-top: 4.8rem;
    display: flex;
    gap:4rem;
}
.controls button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    }
main button svg > path {
        fill: var(--text-color1);
      }
.hide {
    display: none;
}

.cards-top, .cards-bottom {
    display: flex;
    gap: 3.2rem;
    margin-bottom: 3.2rem;
}
.cardWoods,.cardRain,.cardCafeteria,.cardCampfire {
    position: relative;
}
input {
    position:absolute;
    left: 1.7rem;
    bottom: 1rem;

}
.cards button {
    background: var(--card-color2);
    padding: 4.8rem;
    cursor: pointer;
    border-radius: 2.4rem;    
}
main{  
    display: flex;
    gap:19.2rem;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.cards button:hover {
    opacity: 80%;
}
.cards button.active{
    background-color: var(--card-color1);
}


